/*======== RESET ========*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/*======== VARIABLES ========*/
:root {
  --header-height: 4.5rem;
  --text-color: #272829;
  --background-color: #F9F9F9;
  --background-menu: #2569f1;
  --title-color: #45505b;
  --title-secondary: #728394;
  --line-title: #272829;
  --line-title2: #ddd;
  --text-menu: #ffffff;

  /* fonts */
  --title-font-size: 1.875rem;
}

/*======== BASE SITE ========*/

html {
  scroll-behavior: smooth;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.section {
  padding: 3.75rem 0;
}

.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

body {
  font-family: 'DM Sans', sans-serif;
  color: var(--text-color);
  background: var(--background-color);
  text-align: left;
  -webkit-font-smoothing: antialiased;
}

p {
  font-size: 1.35rem;
  font-weight: 400;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-top: 0;
  margin-bottom: 1rem;
}

.title {
  font: 700 var(--title-font-size) 'Poppins', sans-serif;
  color: var(--title-color);
  -webkit-font-smoothing: auto;
  margin-bottom: 3rem;
  padding-bottom: 1.25rem;
  text-align: center;
  text-transform: uppercase;
}
.title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 180px;
  height: 3px;
  bottom: -8rem;
  background: var(--line-title2);
  transform: translateX(-50%)
}

.title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 80px;
  height: 3px;
  bottom: -8rem;
  background: var(--line-title);
  transform: translateX(-50%)
}

.title-secondary {
  font: 600 1.8rem 'Poppins', sans-serif;
  color: var(--title-secondary);
  -webkit-font-smoothing: auto;
}

/*======== MENU INÍCIO ========*/
.navbar {
  font-family: 'Poppins', sans-serif;
  position: fixed;
  width: 100%;
  padding: 20px 0;
  z-index: 998;
  transition: all 0.3s ease;
}
.navbar.sticky{
  background: var(--background-menu);
  padding: 10px 0;
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  color: var(--text-menu);
  font-size: 35px;
  font-weight: 500;
}
.navbar .logo a span {
  color: var(--background-menu);
  transition: all 0.3s ease;
}

.navbar.sticky .logo a span {
  color: var(--background-color);
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  color: var(--text-menu);
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: 0.3s;
}

.navbar .menu li a:hover {
  color: var(--background-menu);
}

.navbar.sticky .menu li a:hover {
  color: var(--background-color);
}

/*======== MENU MOBILE ========*/
.menu-btn {
  color: var(--background-color);
  font-size: 28px;
  cursor: pointer;
  display: none;
}

/*======== SESSÃO HOME ========*/
.section-home {
    display: flex;
    height: 100vh;
    background: url(assets/banner-fundo.jpg) center no-repeat;
    background-size: cover; /* Regula a imagem sem achatar */
    color: var(--text-menu);
    min-height: 500px;
}

.section-home .max-width {
  margin: auto 0 auto 7rem;
}

.section-home .home-content .text-1 {
  font-size: 5.2rem;
  font-weight: 500;
  margin-left: -0.18rem;
}

.section-home .home-content .text-2 {
  font-size: 2.8rem;
  margin: 5px 0;
}
.section-home .home-content .text-2 span {
  color: var(--background-menu);
  font-weight: 500;
}

/*======== SESSÃO SOBRE MIM ========*/
.about .about-content .right {
  width: 58%;
}

.about .about-content .right .text {
  margin-bottom: 10px;
}

.about .about-content .left {
  display: flex;
  width: 42%;
  justify-content: center;
}

.about .about-content .left img {
  width: 25rem;
  height: 25rem;
  object-fit: cover;
  border-radius: 4px;
}

.about .about-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 8rem;
}

/*======== RESPONSIVO ========*/
@media (max-width: 1300px){
  .navbar .max-width {
    margin-left: 0;
  }
  .about .about-content .left img {
    width: 24.5rem;
    height: 24.5rem;
  }
   .about .about-content .column {
    width: 60%;
  }
    .about .about-content .left {
    display: flex;
    width: 42%;
    justify-content: center;
    margin: 0 auto 3.75rem;
  }

  .about .about-content .right {
    flex: 100%;
  }

  .section-home .max-width {
    margin: auto auto auto auto;
    align-content: center;
    align-items: center;
  }
  /* .section-home .home-content{
    margin-left: 16rem;
  } */
}

@media (max-width: 1104px){
  .navbar .menu.btn {
    width: 2.3rem;
    height: 2.3rem;
    margin-left: 0;
  }
  .about .about-content .left img {
    width: 21.5rem;
    height: 21.5rem;
  }

  .about .about-content .right {
    flex: 100%;
  }

  p {
    font-size: 1.30rem;
  }
}

@media (max-width: 991px){
  .navbar .max-width {
    padding: 0 50px;
  }
  p {
    font-size: 1.25rem;
  }
}

@media (max-width: 947px){
  .max-width {
    max-width: 50rem;
    padding: 0 50px;
  }
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .navbar .menu {
    left: -100%;
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 999;
    background-color: rgba(0,0,0,0.65);
    backdrop-filter: blur(10px);
    top: 0%;
    animation: appearField 1s;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    padding-top: 7.5rem;
    align-items: center;
    animation: fade 1s;

    align-content: center;
}
  .navbar .menu.active {
    left: 0;
  }

  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    cursor: pointer;
    text-decoration: none;
    color: var(--text-menu);
    font-size: 3rem;
    transition: .3s;
  }

  .section-home .home-content .text-1 {
    font-size: 4.375rem;
  }
  
  .section-home .home-content .text-2 {
    font-size: 2.18rem;
    margin: 5px 0;
  }

  .about .about-content .right {
    flex: 100%;
  }
}

@media (max-width: 690px) {
  .section-home .home-content .text-1 {
    font-size: 3.75rem;
  }
  
  .section-home .home-content .text-2 {
    font-size: 2rem;
    margin: 5px 0;
  }

  .title-secondary {
    font-size: 1.5rem;
  }
}

@media (max-width: 500px) {
  .section-home .home-content .text-1 {
    font-size: 3.125rem;
  }
  
  .section-home .home-content .text-2 {
    font-size: 1.68rem;
    margin: 5px 0;
  }
}