/*======== RESET ========*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/*======== VARIABLES ========*/
:root {
  --header-height: 4.5rem;
  --text-site: #272829;
  --background-color: #F9F9F9;
  --background-blue: #2569f1;
  --title-color: #45505b;
  --title-secondary: #728394;
  --line-title: #131325;
  --line-title2: #ddd;
  --text-home: #ffffff;
  --box-skills: #13131f;
  --background-scrollbar: #13131f;

  /* fonts */
  --title-font-size: 1.875rem;
}

/*======== BASE SITE ========*/

html {
  scroll-behavior: smooth;
}


/* .container {
  
} */
.section {
  padding: 3.75rem 0;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

.max-width {
  padding: 0 80px;
  margin: auto auto auto 2rem;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--text-site);
  background: var(--background-color);
  text-align: justify;
  -webkit-font-smoothing: antialiased;
}

/* width */
::-webkit-scrollbar {
  width: 0.85rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background-scrollbar);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--background-blue);
}

p {
  font-size: 1.35rem;
  font-weight: 400;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-top: 0;
  margin-bottom: 1rem;
}

.title {
  font: 700 var(--title-font-size) 'DM Sans', sans-serif;
  color: var(--title-color);
  -webkit-font-smoothing: auto;
  margin-bottom: 3rem;
  padding-bottom: 1.25rem;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}
.title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 80px;
  height: .2rem;
  background: var(--line-title);
  transform: translateX(-50%)
}

.title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 180px;
  height: .2rem;
  background: var(--line-title2);
  transform: translateX(-50%)
}

.title-secondary {
  font: 600 1.8rem 'DM Sans', sans-serif;
  color: var(--title-secondary);
  -webkit-font-smoothing: auto;
}

/*======== MENU INÍCIO ========*/
.navbar {
  font-family: 'DM Sans', sans-serif;
  position: fixed;
  width: 100%;
  padding: 20px 0;
  z-index: 998;
  transition: all 0.3s ease;
}
.navbar.sticky{
  background: var(--background-blue);
  padding: 10px 0;
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  color: var(--text-home);
  font-size: 35px;
  font-weight: 500;
}
.navbar .logo a span {
  color: var(--background-blue);
  transition: all 0.3s ease;
}

.navbar.sticky .logo a span {
  color: var(--background-color);
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
  transition: 0.2s;
}

.navbar .menu li a {
  color: var(--text-home);
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: 0.3s;
}

.navbar .menu li:hover {
  transform: scale(1.1);
}

.navbar .menu li a:hover {
  color: var(--background-blue);
}

.navbar.sticky .menu li a:hover {
  color: var(--background-color);
}

/*======== MENU MOBILE ========*/
.toggle {
  color: var(--background-color);
  font-size: 28px;
  cursor: pointer;
  display: none;
}

/*======== SESSÃO HOME ========*/
.section-home {
    display: flex;
    height: 100vh;
    background: url(assets/banner-fundo.jpg) center no-repeat;
    background-size: cover; /* Regula a imagem sem achatar */
    color: var(--text-home);
    min-height: 500px;
}

.section-home .max-width {
  margin: auto 0 auto 7rem;
}

.section-home .home-content .text-1 {
  font-size: 5.2rem;
  font-weight: 500;
  margin-left: -0.18rem;
}

.section-home .home-content .text-2 {
  font-size: 2.8rem;
  margin: 5px 0;
}
.section-home .home-content .text-2 span {
  color: var(--background-blue);
  font-weight: 500;
}

/*======== SESSÃO SOBRE MIM ========*/
.about .about-content .right {
  width: 58%;
}

.about .about-content .right .text {
  margin-bottom: 10px;
}

.about .about-content .left {
  display: flex;
  width: 42%;
  justify-content: center;
}

.about .about-content .left img {
  width: 25rem;
  height: 25rem;
  object-fit: cover;
  border-radius: 4px;
}

.about .about-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 8rem;
}

/*======== SESSÃO HABILIDADES ========*/
section#skills .container {
  width: 80%;
  margin: 2rem auto;
}

section#skills .container .cards {
  display: flex;
  align-items: center;
  gap: 8.5rem;
}

section#skills .container .cards .box {
    color: var(--background-blue);
    position: relative;
    text-align: center;
    background-color: var(--box-skills);
    padding: 1.52rem 4rem 3.6rem 4rem;
    border-top-left-radius: 2.1rem;
    cursor: pointer;
    transition: .2s;
}

.box:hover {
  transform: scale(1.1);
}

section#skills .container .cards .box::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 0.3rem;
  background-image: linear-gradient(90deg, #204694 0%, #004fee 92.32%);
  bottom: -0.1rem;
  left: 0;
  }

.title-box {
  font: 600 1.4rem 'DM Sans', sans-serif;
  text-align: center;
  color: var(--background-blue);
  margin-bottom: 1rem;
  -webkit-font-smoothing: auto;
}

/*======== RESPONSIVO ========*/
@media (max-width: 1350px){
  .about .about-content .left img {
    width: 24rem;
    height: 24rem;
  }
   .about .about-content .column {
    width: 60%;
  }
    .about .about-content .left {
    display: flex;
    width: 42%;
    justify-content: center;
    margin: 0 auto 3.75rem;
  }

  .about .about-content .right {
    flex: 100%;
  }

  .section-home .max-width {
    margin: auto;
    align-content: center;
    align-items: center;
  }
}

@media (max-width: 1104px){
  .navbar .toggle {
    width: 2.3rem;
    height: 2.3rem;
    margin-left: 0;
  }

  .about .about-content .left img {
    width: 21.5rem;
    height: 21.5rem;
  }

  .about .about-content .right {
    flex: 100%;
  }

  p {
    font-size: 1.30rem;
  }
}

@media (max-width: 991px){
  .navbar .toggle {
    padding: 0 50px;
  }
  p {
    font-size: 1.25rem;
  }
}

@media (max-width: 947px){
  .max-width {
    padding: 0 50px;
    border-right: 1rem;
  }
  .toggle {
    display: block;
    z-index: 999;
  }
  .navbar .menu {
    left: 0%;
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 997;
    background-color: #000000a6;
    backdrop-filter: blur(10px);
    top: 0%;
    animation: appearField 1s;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    padding-top: 16rem;
    align-items: center;
    animation: fade 1s;

    opacity: 0;
    visibility: hidden;

    align-content: center;
}

  .navbar .menu.show {
      opacity: 1;
      visibility: visible;
  }

  .navbar .menu li {
    display: block;
    padding-bottom: 2rem;
  }
  .navbar .menu li a {
    cursor: pointer;
    text-decoration: none;
    color: var(--text-home);
    font-size: 3rem;
    transition: .3s;
  }
  
  .navbar .menu li a:hover {
    color: var(--background-blue);
  }

  .section-home .home-content .text-1 {
    font-size: 4.375rem;
  }
  
  .section-home .home-content .text-2 {
    font-size: 2.18rem;
    margin: 5px 0;
  }

  .about .about-content .right {
    flex: 100%;
  }
}

@media (max-width: 690px) {
  .section-home .home-content .text-1 {
    font-size: 3.75rem;
  }
  
  .section-home .home-content .text-2 {
    font-size: 2rem;
  }

  .title-secondary {
    font-size: 1.5rem;
  }

  .container {
    margin: 0;
  }
}

@media (max-width: 500px) {
  .section-home .home-content .text-1 {
    font-size: 3.125rem;
  }

  .section-home .home-content .text-2 {
    font-size: 1.68rem;
  }
}