/*======== RESET ========*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/*======== VARIABLES ========*/
:root {
  --text-site: #272829;
  --text-home: #ffffff;

  --background-color: #f9f9f9;
  --background-secondary: #f5f5f5;
  --background-scrollbar: #13131f;
  --background-blue: #276fff;

  --title-color: #45505b;
  --title-secondary: #6e767c;

  --line-title: #131325;
  --line-title2: #ddd;

  --box-skills: #13131f;
  --box-portfolio: #13131fea;
}

/*======== BASE SITE ========*/

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--text-site);
  background: var(--background-color);
  text-align: left;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
  display: block;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

p {
  font-size: 1.1rem;
  font-weight: 400;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-top: 0;
  margin-bottom: 1rem;
}

.section {
  padding: 5rem 0;
  margin: 0 auto;
  width: 90%;
}

.container {
  width: 90%;
  max-width: 115rem;
  margin: 0 auto;
}

/* width */
::-webkit-scrollbar {
  width: 0.7rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background-scrollbar);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--background-blue);
}

.title {
  font: 700 1.5rem "DM Sans", sans-serif;
  color: var(--title-color);
  -webkit-font-smoothing: auto;
  margin-bottom: 3rem;
  padding-bottom: 1.25rem;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}

.title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 2.4rem;
  height: 0.18rem;
  background: var(--line-title);
  transform: translateX(-50%);
}

.title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 7rem;
  height: 0.18rem;
  background: var(--line-title2);
  transform: translateX(-50%);
}

.title-secondary {
  font: 600 1.5rem "DM Sans", sans-serif;
  color: var(--title-secondary);
  -webkit-font-smoothing: auto;
  margin-bottom: 0.8rem;
}

.hidden {
  display: none !important;
}
