@import "base.css";
@import "section-home.css";
@import "about-skills.css";
@import "portfolio-footer.css";
@import "modal-project.css";

/*======== ANIMAÇÕES ========*/

.navbar .menu li:hover,
#footer .social-links .box-social:hover,
.section-home .button-cv a:hover,
.box:hover,
.modal .links a:hover {
  transform: scale(1.1);
}

/*======== RESPONSIVO ========*/
@media (max-width: 1300px) {
  .about .about-content .column {
    width: 60%;
  }

  .about .about-content .left {
    display: flex;
    width: 42%;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .about .about-content .right {
    flex: 60%;
    margin: 0 5rem;
  }

  .section-home .max-width {
    margin: auto;
    align-content: center;
    align-items: center;
  }

  section#skills .skills-content .cards {
    flex-wrap: wrap
  }
}

@media (max-width: 1104px) {
  .navbar .toggle {
    width: 2.3rem;
    height: 2.3rem;
    margin-left: 0;
  }

  .section-home .home-content .text-1 {
    font-size: 4rem;
  }

  .section-home .home-content .text-2,
  .text-3 {
    font-size: 2.2rem;
  }

  .about .about-content .left {
    width: 22rem;
    height: 22rem;
    margin-bottom: 2.3rem;
  }

  .about .about-content .right {
    flex: 100%;
  }

  p {
    font-size: 1rem;
  }
}

@media (max-width: 991px) {
  .navbar .toggle {
    padding: 0 50px;
  }

}

@media (max-width: 947px) {
  .max-width {
    padding: 0 50px;
    border-right: 1rem;
  }

  .toggle {
    display: block;
    z-index: 999;
  }

  .navbar .menu {
    font-family: 'Poppins', sans-serif;
    background-color: #000000a6;
    backdrop-filter: blur(10px);

    height: 100vh;
    width: 100vw;

    position: fixed;
    top: 0;
    left: 0;

    display: grid;
    place-content: center;

    z-index: 997;

    visibility: hidden;
    opacity: 0;

    align-items: center;
    align-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;

    transition: .5s;
  }

  .navbar .menu li {
    display: block;
    padding-bottom: 2rem;
  }

  .navbar .menu li a {
    cursor: pointer;
    text-decoration: none;
    color: var(--text-home);
    font-size: 2.4rem;
    transition: .3s;
  }

  .navbar .menu li a:hover {
    color: var(--background-blue);
  }

  .section-home .home-content .text-1 {
    font-size: 3.75rem;
  }

  .section-home .home-content .text-2,
  .text-3 {
    font-size: 2rem;
  }

  .title,
  .title-secondary {
    font-size: 1.4rem;
  }

  .about .about-content .right {
    flex: 100%;
    margin: 0 2rem;
  }

  .about .about-content .left {
    width: 20rem;
    height: 20rem;
    margin-bottom: 6rem;
  }

  section#skills .skills-content .cards .box {
    padding: 1rem 3rem 1.7rem 3rem;
    border-top-left-radius: 1.8rem;
  }
}

@media (max-width: 690px) {
  .navbar .toggle {
    width: 2rem;
    height: 2rem;
  }

  .section-home .home-content .text-1 {
    font-size: 3.375rem;
  }

  .section-home .home-content .text-2,
  .text-3 {
    font-size: 1.8rem;
    margin: 5px 0;
  }

  section#skills .skills-content .cards .box {
    padding: .7rem 2.7rem 1.4rem 2.7rem;
    border-top-left-radius: 1.6rem;
  }

  section#portfolio .cards-portfolio .box img{
    width: 21rem;
    height: 13rem;
  }
}

@media (max-width: 500px) {
  .section-home .home-content .text-1 {
    font-size: 2.4rem;
  }

  .section-home .home-content .text-2,
  .text-3 {
    font-size: 1.5rem;
  }

  .about .about-content .left {
    margin-bottom: 1rem;
  }

  .about .about-content .left img {
    width: 95%;
    height: 18rem;
  }

  section#portfolio .cards-portfolio .box {
    width: 95%;
  }

  section#portfolio .cards-portfolio .box img {
    width: 100%;
    height: 10rem;
  }
}