/*======== SESSÃO PORTFÓLIO ========*/
section#portfolio .portfolio-content p {
  text-align: center;
}

section#portfolio .portfolio-content .cards-portfolio {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  padding: 2rem 1rem 1rem 1rem;
}

section#portfolio .portfolio-content .cards-portfolio .box {
  transition: .3s;
}

section#portfolio .portfolio-content .cards-portfolio .box img {
  width: 25rem;
  height: 15rem;
}

section#portfolio .portfolio-content .cards-portfolio .box .cover {
  position: relative;
  cursor: pointer;
}

section#portfolio .portfolio-content .cards-portfolio .box .cover::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--box-portfolio);
}

section#portfolio .details {
  font-size: 1.8rem;
  font-weight: 500;
  color: #F9F9F9;
  margin-bottom: 1rem;
}

section#portfolio .details,
section#portfolio .details-site {
  position: absolute;
  width: 100%;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;

}

section#portfolio .details-site {
  opacity: 0;
  font-size: 1rem;
  padding: 1.6rem 1.2rem 0;
  text-align: left;
  color: var(--text-home)
}

section#portfolio .cover:hover .details-site {
  opacity: 1;
  transition: .5s;
}

section#portfolio .cover:hover .details {
  top: 20%;
  transition: .3s;
}

/*======== FOOTER ========*/
#footer {
  background: var(--background-secondary);
  color: #45505b;
  font-size: 14px;
  text-align: center;
  padding: 1.8rem 0;
  width: 100%;
}

#footer .title-footer {
  font-family: "Poppins", sans-serif;
  font-size: 2.25rem;
  font-weight: 700;

  position: relative;
  padding: 0 1.2rem;
  margin-bottom: 1rem;
}

#footer .text-footer {
  font-size: .9rem;
  font-style: italic;
  padding: 0 1.2rem;
  margin: 0;
}

#footer .social-links {
  display: flex;
  padding: 2.2rem 0;
  gap: 6px;

  align-items: center;
  justify-content: center;
  text-align: center;

  flex-wrap: wrap;
}

#footer .social-links .box-social {
  position: relative;
  cursor: pointer;

  background: var(--background-scrollbar);
  color: var(--background-blue);

  padding: 0.5rem;
  clip-path: circle();

  font-size: 1.5rem;
  line-height: 0.75;

  transition: .2s;
}

.back-to-top {
  background: var(--background-scrollbar);
  color: var(--background-blue);

  position: fixed;
  right: 1rem;
  bottom: 1rem;

  padding: 0.3rem;
  clip-path: circle();

  font-size: 1.5rem;
  line-height: 0;

  transition: .3s;
  transform: translateY(100%);
}

.back-to-top.show {
  transform: translateY(0%);
}