/*======== MENU INÍCIO ========*/
.navbar {
  font-family: "DM Sans", sans-serif;
  position: fixed;
  width: 100%;
  padding: 1.25rem 0;
  z-index: 998;
  transition: all 0.3s ease;
}

.navbar.sticky {
  background: var(--background-blue);
  padding: 0.625rem 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  color: var(--text-home);
  font-size: 2rem;
  font-weight: 500;
}

.navbar .logo a span {
  color: var(--background-blue);
  transition: all 0.3s ease;
}

.navbar.sticky .logo a span {
  color: var(--background-color);
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
  transition: 0.2s;
}

.navbar .menu li a {
  color: var(--text-home);
  font-size: 1rem;
  font-weight: 500;
  margin-left: 1.5625rem;
  transition: 0.3s;
}

.navbar .menu li a:hover {
  color: var(--background-blue);
}

.navbar.sticky .menu li a:hover {
  color: var(--background-color);
}

/*======== MENU MOBILE ========*/
.toggle {
  color: var(--background-color);
  font-size: 1.75rem;
  cursor: pointer;
  display: none;
}

.toggle .close-outline,
.toggle.show .menu-outline,
.back-to-top {
  visibility: hidden;
  opacity: 0;
}

.toggle.show .menu-outline {
  font-size: 0;
}

.navbar .menu.show,
.toggle.show .close-outline,
.back-to-top.show {
  opacity: 1;
  visibility: visible;
}

/*======== SESSÃO HOME ========*/
.section-home {
  display: flex;
  height: 100vh;
  background: url(/assets/banner-fundo.svg) center no-repeat;
  background-size: cover;
  /* Regula a imagem sem achatar */
  color: var(--text-home);
  min-height: 500px;
}

.section-home .container {
  padding-left: 4rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.section-home .home-content .text-1 {
  font-size: 4.2rem;
  font-weight: 500;
}

.section-home .home-content .text-2,
.text-3 {
  font-size: 2.3rem;
  font-weight: 500;
}

.section-home .home-content .text-2 span {
  color: var(--background-blue);
}

.section-home .button-cv {
  padding: 1.2rem 0rem;
}

.section-home .button-cv a {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--background-color);
  padding: 0.6rem 1.3rem;
  background-image: linear-gradient(
    100deg,
    var(--background-blue) 0.2%,
    #0400ff 100%
  );
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.1rem;
  transition: 0.3s;
}
